<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <%= form_for :session do |f| %>
      <fieldset>
          <div class="form-group">
              <%= f.label :username %>
              <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>

        <%= f.submit "Login", class: "btn btn-primary" %>
      </fieldset>
    <% end %>
  </div>
</div>
