<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>
    <%= flash.now[:errors] if flash.now[:errors] %>
      <fieldset>
        <div class="input-group col-lg-12">
          <%= f.label :username %>
          <%= f.text_field :username, class: "form-control" %>
        </div>
        <div class="input-group col-lg-12">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

      </fieldset>
      <div class="form-actions">
        <%= f.submit "Sign In", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
