<h1> Log In Page </h1>

<% if flash.now[:error] %>
  <div>
    <%=flash.now[:error] %>
  </div>
<%end%>


<%= form_for(:session, url: login_path) do |f| %>
<div class="form-group">
  <%= f.label :username %>
  <%= f.text_field :username, class: "form-control" %>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control"%>
  <br>
  <%= f.submit "Sign In", class: "btn btn-default" %>
</div>
<% end %>
