<div class="col-sm-4 no-float center-block">
	<h2>Welcome Back, ya Lush!</h2>
	<br>

	<%= form_for(:session, url: sessions_path) do |f| %>

		<!-- add +  style these errors and reformat phrase  -->

		<div class="form-group">
			<%= f.label :username %>
			<%= f.text_field :username, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
		</div>

		<%= f.submit 'Log In', class: 'btn btn-primary' %>

	<% end %>
</div>
