<%= form_for @recipe do |f| %>
  <div class="form-group">
    <fieldset>
      <legend><h2>Recipe details</h2></legend>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :required => true, class: "form-control" %>

      <%= f.label :description, "Description"  %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :image, "Image" %>
      <%= f.file_field :image, class: "form-control" %>

      <%= f.label :preparation, "preparation" %>
      <%= f.text_area :preparation, :required => true, class: "form-control" %>

      <h4>Ingredients</h4>
      <%= f.fields_for :recipe_ingredients do |ff| %>
        <div class="form-group">
          <%= ff.label :quantity %>
          <%= ff.text_field :quantity %>

          <%= ff.label :measurement_id, "Unit" %>
          <%= ff.collection_select(:measurement_id, Measurement.all, :id, :unit, include_blank: true) %>

          <%= ff.label :ingredient_id %>
          <%= ff.collection_select(:ingredient_id, Ingredient.all, :id, :name, include_blank: true) %>

          <% if ff.object.persisted? %>
            <%= ff.check_box :_destroy %>
            <%= ff.label :_destroy, "Remove" %>
          <% end %>
        </div>
      <% end %>

      <% if @current_user %>
        <h4>Add to a cookbook:</h4>
        <div class="form-group">
          <%= f.label :cookbook_ids, "Cookbook" %>
          <%= f.collection_select(:cookbook_ids, @cookbooks, :id, :name, {}, {multiple: true}) %>
        </div>
      <% end %>

      <%= f.submit "Submit", class: "btn btn-default"%>
    </fieldset>
  </div>
<% end %>
