<%= form_for @recipe do |f| %>
  <div class="form-group">
    <fieldset>
      <legend>Recipe details</legend>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :required => true, class: "form-control" %>

      <%= f.label :description, "Description"  %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :image, "Image" %>
      <%= f.file_field :image, class: "form-control" %>

      <%= f.label :preparation, "preparation" %>
      <%= f.text_area :preparation, :required => true, class: "form-control" %>

      <legend>Ingredients</legend>
      <%= f.fields_for :recipe_ingredients do |ff| %>
        <div class="form-group">
          <%= ff.label :quantity %>
          <%= ff.text_field :quantity %>

          <%= ff.label :measurement_id, "Unit" %>
          <%= ff.collection_select(:measurement_id, Measurement.all, :id, :unit, include_blank: true) %>

          <%= ff.label :ingredient_id %>
          <%= ff.collection_select(:ingredient_id, Ingredient.all, :id, :name, include_blank: true) %>

          <% if ff.object.persisted? %>
            <%= ff.check_box :_destroy %>
            <%= ff.label :_destroy, "Remove" %>
          <% end %>
        </div>
      <% end %>

      <!-- Mahalo @acmei, for the help on this collection_check_boxes -->
      <% if @current_user %>
      <legend>Add to your cookbooks</legend>
        <% if @cookbooks %>
        <div class="form-group">
          <%= collection_check_boxes(:recipe, :cookbook_ids, @cookbooks, :id, :name) do |cookbook| %>
            <%= cookbook.label class: "checkbox form-group" do %>
              <%= cookbook.check_box + cookbook.text.titlecase %>
            <% end %>
          <% end %>
        <% else %>
          <em>You have no cookbooks to add this recipe to.</em>
        <% end %>
        </div>
      <% end %>

      <%= f.submit "Submit", class: "btn btn-primary"%>
    </fieldset>
  </div>
<% end %>
