<div class="col-sm-6 center-block no-float">
	<h2>Edit "<%= @recipe.name %>" </h2>
	<br>

	<%= form_for @recipe do |f| %>

		<%= f.hidden_field :user_id %>

		<div class="form-group">
			<%= f.label :name, 'Recipe Name' %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :description %>
			<%= f.text_area :description, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :image_url, 'Recipe Image' %>
			<%= f.file_field :image_url %>
		</div>

		<br>
		<!-- ingredients -->
		<!-- how to add many ingredients? -->
		<%= f.fields_for :recipe_ingredients do |ingredients| %>
			<table class="table">
				<tr>
					<td>
						<%= ingredients.label :quantity %>
					</td>
					<td>
						<%= ingredients.label :measurement %>
					</td>
					<td>
						<%= ingredients.label :ingredient_name, "Ingredient" %>
					</td>
				</tr>
				<tr>
					<td>
						<%= ingredients.text_field :quantity, class: 'form-control' %>
					</td>
					<td>
						<%= ingredients.select(:measurement, @measurements_array, { include_blank: true }, { class: 'form-control' }) %>
					</td>
					<td>
						<%= ingredients.text_field :ingredient_name, class: 'form-control' %>
					</td>
				</tr>
			</table>
		<% end %>
		<br>

		<div class="form-group">
			<%= f.label :prep %>
			<%= f.text_area :prep, class: 'form-control', rows: '4' %>
		</div>

		<div class="form-group">
			<%= f.label :cookbook_id, 'Cook Book' %>
			<%= f.collection_select(:cookbook_id, @user_cookbooks, :id, :name, { include_blank: "None" } , { class: 'form-control' }) %>
		</div>

		<br>
		<%= f.submit "Save Recipe", class: 'btn btn-primary center-block no-float col-sm-4' %>
	<% end %>
</div>
