<div class="container">
  <h1> 
    Recipes
    <% if logged_in? %>
      <%= link_to "Add a Recipe", new_recipe_path, class: "btn btn-primary" %>
    <% end %>
  </h1><br>
  <% @recipes.each do |recipe| %>
    <div class="col-md-3 center">
      <div class="well">
        <%= link_to image_tag(recipe.image, class: "img-thumbnail", size: "200x170"), recipe_path(recipe.id) %>
        <h3><%= link_to(recipe.name, recipe_path(recipe.id)) %></h3>
        <p class="img-desc"><%= recipe.desc %></p>
        <span class="text-muted"><%= pluralize(recipe.ingredients.count, "ingredient") %></span><br>
      </div>
    </div>
  <% end %>
</div>
