<div class="col-sm-10 col-offset-2">
  <h4>Step 2 of 2: Assign Ingredients to <%= @recipe.proper_name %></h4>

  <%= form_for @recipe, url: user_recipe_ingredients_path(@authenticated_user, @recipe), method: "post" do |f| %>
    <% @ingredients.each do |ingredient| %>
      <div class="col-sm-4">
        <label>
          <% if @recipe.ingredients.include? ingredient %>
            <%= check_box_tag "ingredients[]", ingredient.id, checked: true %>
          <% else %>
            <%= check_box_tag "ingredients[]", ingredient.id %>
          <% end %>
          <%= ingredient.name %>
        </label>
      </div>
    <% end %>
    <%= f.submit "Add Ingredients to #{ @recipe.proper_name }", class: "btn btn-warning" %>
  <% end %>
</div>
