<div class="container marketing">
<h1><%= @recipe.name %></h1>
<hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading"></h2>
      <p class="lead"><%= @recipe.description %></p>
      <p>Recipe added by <%= link_to "#{@recipe.cookbook.user.name}", user_path %></p>

    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag @recipe.image_url, class:"img-circle", size: "300x300" %>
    </div>
  </div>

<hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12">
      <p class="lead"><mark>PREPARATION: </mark></p>
      <p><%= @recipe.preparation %></p>
    </div>
  </div>

<hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12">
      <p class="lead"><mark>INGEDIENTS: </mark></p>
      <% @recipe.ingredients.each do |ingredient| %>
        <%= link_to ingredient_path(ingredient.id) do %>
          <%= image_tag ingredient.image_url, class: "img-circle", size: '100x100'%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
