<div>
  <h2><%= @recipe.name %></h2>
  <%= image_tag(@recipe.image) %>
  <% if session[:user_id] %>
    <%= button_to "Edit", edit_recipe_path(@recipe), method: :get, class: "btn btn-default" %>
  <% else %>
    <strong>Submitted by: <%= link_to @recipe.user.name, user_path(@recipe.user), method: :get %></strong>
  <% end %>
</div>
<section>
  <h5>Recipes Using <%= @recipe.name %></h5>
  <% @recipe.ingredients.each do |ingredient| %>
  <ul>
    <li><%= link_to ingredient.name, ingredient_path(ingredient), method: :get %></li>
  </ul>
  <% end %>
</section>
