<% content_for :page_title do %>
  <h2><%= @recipe.name %></h2>
  <h3><%= link_to @recipe.user.username, user_path(@recipe.user) %></h3>
<% end %>

<% if @recipe.description # TODO: fix seed data, then change this %>
  <p><%= @recipe.description %></p>
<% end %>

<% if @recipe.owner?(session[:user_id]) %>
  <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn btn-default" %>
  <br>
<% end %>

<%= image_tag @recipe.image_url, class: "img-responsive center-block img-rounded" %>

<ol class="list-unstyled">
  <% @steps.each do |step| %>
    <%= render 'steps/display_step_with_ingredients', { recipe: @recipe, step: step } %>
  <% end %>
</ol>

<% if @recipe.owner?(session[:user_id]) %>
  <%= button_to "Add Step", new_recipe_step_path(@recipe), method: :get, class: "btn btn-default" %>
<% end %>
