<div class="container">
  <div class="row">
    <div class="col-md-6 text-right">
    <% if current_user?(@user) %>
      <%= link_to edit_recipe_path(@recipe) do %>
          <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= link_to recipe_path(@recipe), method: :delete, data: { confirm: "Delete #{@recipe.name}?" } do %>
          <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    <% else %>
      <span class="text-muted">
        submitted by: <%= link_to @recipe.user.name, user_path(@recipe.user), method: :get %>
      </span>
    <% end %>
      <span class="recipe-name"><%= @recipe.name %></span><br>
      <%= image_tag(@recipe.image, class: "img-thumbnail recipe-image") %><br>
      <p class="recipe-desc"><%= @recipe.desc %></p>
    </div>

    <div class="col-md-6">
      <h5>Ingredients for <%= @recipe.name %></h5>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= link_to "#{ingredient.name}", ingredient_path(ingredient), method: :get %></li>
        <% end %>
      </ul>
      <h5>Prep:</h5>
      <%= (@recipe.prep).gsub(/\n/, '<br/>').html_safe %><br>

  <% if session[:user_id] %>
    <%= button_to "Edit", edit_recipe_path(@recipe), method: :get, class: "btn btn-default" %>
    <%= button_to "Delete", recipe_path(@recipe), method: :delete, class: "btn btn-danger" %>
    <div class="form-control">
    <%= form_for @recipe, url: @url do |f| %>
      <%= f.label :cookbook_id %>
      <%= f.collection_select :cookbook_id, @user.cookbooks, :id, :name, include_blank: "--Select a Cookbook--", class: "form-group col-sm-2" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>

  <% else %>
    <strong>Submitted by: <%= link_to @recipe.user.name, user_path(@recipe.user), method: :get %></strong>
  <% end %>


    </div>
  </div>
</div>
