<div class="row">
  <div class="col-md-8">
    <h1> <%= @recipe.name %></h1>
    <p>Written by: <%= link_to @owner.username, user_path(@owner) %>
    <p><%= image_tag @recipe.image_url(:display) %></p>
    <p>Description: <%= @recipe.description %></p>

    <ul class="list-group">
      <% @ingredient_lines.each do |line| %>
        <li class="list-group-item">
          <%= "#{line.quantity} #{line.measurement.unit}" %> <%= link_to line.ingredient.name, ingredient_path(line.ingredient_id) %>
        </li>
      <% end %>
    </ul>

    <p>Preparation: <%= @recipe.preparation %></p>

    <% if @current_user %>    
      <p>Save to your cookbook:</p>

      <% if @cookbooks.count > 0 %>
        <%= form_tag(controller: "recipes", action: "add_to_cookbook", method: "post", class: "form") do %>
          <%= collection_select(:cookbook, :cookbook_id, @cookbooks, :id, :name, include_blank: true) %>
          <%= submit_tag "Save" %>
        <% end %>
      <% else %>
        <em>Either you have no cookbooks, or this recipe is already part of all of your cookbooks.</em>
      <% end %>
    <% end %>
    
    <% if appropriate_user(@recipe) %>
      <p><%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-default" %></p>
      
      <p><%= link_to "Delete this recipe", recipe_path(@recipe), method: "delete", data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></p>
    <% end %>      
  </div>
</div>
