<div="container">
  <h1> <%= @recipe.name %> Details </h1>
  <h2>By <%= link_to "#{@user_recipes}", view_user_path(@recipe.user_id) %> </h2>

<% if @your_cookbook  %>
  <h2><%= button_to "Add it to One of yo Cookbookz!", add_path(@recipe.id), method: "get", class: "btn btn-danger" %></h2>
<% end %>

  <table class="table">
    <tr>
        <td>Picture</td>
        <td>Ingredients</td>
        <td>Description</td>
        <td>Preparation</td>
    </tr>
    <tr>
      <td> <%= image_tag(@recipe.image_url(:medium))%> </td>
      <td> <% @recipe.ingredients.each do |ingred| %>
        <%= link_to "#{ingred.name}", ingredient_path(ingred.id) %>
      <% end %>
      </td>

      <td> <%= @recipe.description %></td>
      <td> <%= @recipe.preparation %></td>
    </tr>
  </table>
</div>
