<div class="page-header">
  <h2><%= @recipe.name %>
    <small> From: <%= link_to @recipe.user.username, user_path(@recipe.user.id) %></small>
  </h2>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="thumbnail">
      <%= image_tag(@recipe.image_url, class: "img-rounded product-thumb") %>
    </div>
  </div>
  <div class="col-lg-6 col-offset-lg-2">
    <%= render partial: "ingredients_list", locals: { recipe: @recipe } %>
    Instructions: <p><%= @recipe.preparation %></p>
    </div>
  </div>
</div>

<% if session[:user_id] == @recipe.user_id %>
  <div class="row">
    <div class="center-link-buttons">
      <%= link_to "Edit", edit_recipe_path(id: @recipe.id), class: "btn btn-info" %>
      <%= link_to "Delete", recipe_path(id: @recipe.id),
          method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
