<%= render partial: 'shared/flash_messages' %>

<div class="row">
  <div class="col-md-8">
    <h1> <%= @recipe.name %></h1>
    <p><%= image_tag @recipe.image_url(:display) %></p>
    <p>Description: <%= @recipe.description %></p>

    <ul class="list-group">
      <% if @ingredient_lines %>
        <% @ingredient_lines.each do |line| %>
          <li class="list-group-item">
            <%= "#{line.quantity} #{line.measurement.unit} #{line.ingredient.name}" %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <p>Preparation: <%= @recipe.preparation %></p>
    <p>Recipe by: <%= link_to @recipe.user.username, "" %>
    <!-- This link needs to be filled in with the future user show path -->
    <p><%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-default" %></p>
    <p><%= link_to "Delete this recipe", recipe_path(@recipe), method: "delete", data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></p>
  </div>
</div>
