<h1>
  <%= @recipe.name.upcase %>
  <small>Submitted by: <%= link_to "#{@recipe.user.username}", user_path(@recipe.user.id) %></small>
</h1>

<% if session[:user_id] %>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      +Cookbook <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% (@user.cookbooks).each do |cookbook| %>
        <li> <%= link_to cookbook.name, user_cookbook_recipe_path(@user, cookbook, @recipe), method: "post" %> </li>
      <% end %>
    </ul>
  </div>

  <% if @recipe.user_id == session[:user_id] %>
    <%= link_to "Edit", edit_user_recipe_path(@user, @recipe), class: "btn btn-info btn-md" %>
    <%= link_to "Delete", user_recipe_path(@user, @recipe), method: "delete", class: "btn btn-warning btn-md" %>
  <% end %>
<% end %>

<% if @recipe.avatar %>
  <%= image_tag @recipe.avatar_url %>
<% end %>

<h4><%= @recipe.description %></h4>

<div class="col-sm-4">
  <% if @recipe.ingredients.count > 0 %>
    <% if @recipe.user_id == @user.id %>
      <%= render partial: 'shared/recipe_ingredients_list', locals: { ingredients: @recipe.ingredients.alphabetized } %>
    <% else %>
      <%= render partial: 'shared/plain_ingredients_list', locals: { ingredients: @recipe.ingredients.alphabetized } %>
    <% end %>
  <% else %>
    <p>You call this a recipe? This "recipe" doesn't even have ingredients!!</p>
  <% end %>
</div>

<div class="col-sm-8">
  <p><%= @recipe.steps %></p>
</div>
