<div class="row">
  <div class="col-md-8">
    <h1> <%= @recipe.name %></h1>
    <p><%= image_tag("") %></p>
    <!-- Place image link here -->
    <p>Description: <%= @recipe.description %></p>
    <p>Preparation: <%= @recipe.preparation %></p>
    <p>Recipe by: <%= link_to @recipe.user.username, "" %>
    <!-- This link needs to be filled in with the future user show path -->
  </div>
</div>
