<% content_for :page_title do %>
  <h2><%= @recipe.name %></h2>
  <h3><%= link_to @recipe.user.username, user_path(@recipe.user) %></h3>
<% end %>

<%= image_tag @recipe.image_url, class: "img-responsive center-block img-rounded" %>

<ol class="list-unstyled">
  <% @recipe.steps.each do |step| %><%# OPTIMIZE: this might be a good refactor spot %>
    <li class="preparation_step">
      <% if step.has_measurements? %>
        <ul class="list-unstyled text-muted">
          <% step.measurements.each do |measurement| %>
            <li class="ingredients_line"><%= measurement.amount %> <%= link_to measurement.ingredient.name, ingredient_path(measurement.ingredient) %></li>
          <% end %>
        </ul>
      <% end %>
      <%= step.directions %>
    </li>
  <% end %>
</ol>
