<h2> <%= @recipe.name %> </h2>
<% unless @recipe.cookbook_id.nil? %>
	<h4> in <%= link_to @recipe.cookbook.name, cookbook_path(@recipe.cookbook.id) %> </h4>
<% end %>
<h5> by: <%= link_to @recipe.user.username, user_path(@recipe.user.id) %> </h5>

<%= image_tag(@recipe.image) %>

<p>
	<%= @recipe.description %>
</p>

<table>
	<% @recipe.recipe_ingredients.each do |ingredient| %>
	<tr>
		<td>
			<%= ingredient.quantity %>
		</td>
		<td>
			<%= ingredient.measurement %>
		</td>
		<td>
			<%= link_to Ingredient.find(ingredient.id).name, ingredient_path(Ingredient.find(ingredient.id)) %>
		</td>
	</tr>
	<% end %>
</table>

<p>
	<%= @recipe.prep %>
</p>
