<h2><%= @recipe.name %></h2>

<p>
  Owner: <%= link_to "#{@user.name}", profile_user_path(@user) %>
</p>

<p>
  <%= @recipe.description %>
</p>

<p>
  <%= @recipe.preparation %>
</p>

<p>
  <!-- @recipe.image -->
</p>

<p>
  <%= link_to "Back", :back, class: "btn btn-default" %>
</p>
