<h1>
  <%= @recipe.name.upcase %>
  <small>Submitted by: <%= link_to "#{@recipe.user.username}", user_path(@recipe.user.id) %></small>
</h1>

<% if @authenticated_user %>
  <% if @recipe.user_id == @authenticated_user.id %>
    <%= link_to "Edit", edit_user_recipe_path(@authenticated_user, @recipe), class: "btn btn-info btn-md" %>
    <%= link_to "Delete", user_recipe_path(@authenticated_user, @recipe),
        method: "delete", class: "btn btn-warning btn-md", data: {
        confirm: "Are you sure you want to delete #{ ingredient.proper_name }?" %>
  <% end %>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      +Cookbook <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% (@authenticated_user.cookbooks).each do |cookbook| %>
        <li> <%= link_to cookbook.name, user_cookbook_recipe_path(@authenticated_user, cookbook, @recipe), method: "post" %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<h4><%= @recipe.description %></h4>

<div class="row">
  <div class="col-sm-5">
    <% if @recipe.ingredients.count > 0 %>
      <% if @authenticated_user && @recipe.user_id == @authenticated_user.id %>
        <%= render partial: 'shared/recipe_ingredients_list', locals: { ingredients: @recipe.ingredients.alphabetized } %>
      <% else %>
        <%= render partial: 'shared/plain_ingredients_list', locals: { ingredients: @recipe.ingredients.alphabetized } %>
      <% end %>
    <% else %>
      <p>You call this a recipe? This "recipe" doesn't even have ingredients!!</p>
    <% end %>
  </div>

  <div class="col-sm-7">
    <% if @recipe.avatar %>
      <%= image_tag @recipe.avatar_url(:display) %>
    <% end %>
    <p><%= @recipe.steps %></p>
  </div>
</div>
