<%= link_to "Edit recipe", edit_user_recipe_path(session[:user_id], @recipe.id) %>
<%= @recipe.image %> 
<%= @recipe.name %>
<%= @recipe.description %>
<%= @recipe.instructions %>

<%= link_to "#{@user.username}", user_profile_path(@user.id), method: :get %>



<% @recipe.ingredients.each do |ingredient| %>
  <ul>
    <li> <%= image_tag(ingredient.image) %> </li>
    <li> <%= link_to "#{ingredient.name}", ingredient_path(ingredient.id) %> </li>
  </ul> 
<% end %>


<%= render partial: 'shared/select_cookbook.html.erb', locals: {url: add_recipe_path(session[:user_id], @recipe.id)} %>


