<div="container">
  <h1> <%= @recipe.name %> Details </h1>
  <h2>By <%= link_to "#{@user}", view_user_path(@recipe.user_id) %> </h2>

  <table class="table">
    <tr>
        <td>Picture</td>
        <td>Ingredients</td>
        <td>Description</td>
    </tr>
    <tr>
      <td> <%= image_tag(@recipe.image_url(:medium))%> </td>
      <td> <% @recipe.ingredients.each do |ingred| %>
        <%= link_to "#{ingred.name}", ingredient_path(ingred.id) %>
      <% end %>
      </td>

      <td> <%= @recipe.description %></td>
    </tr>
  </table>
</div>
