<h2><%= @recipe.name %></h2>

<p>
  <%= @recipe.description %>
</p>

<p>
  <%= @recipe.preparation %>
</p>

<p>
  <!-- @recipe.image -->
</p>

<h3>Associated Ingredients</h3>

<% @ingredients.each do |ingredient| %>
  <%= link_to ingredient.name, ingredient_path(ingredient) %>
  <% end %>

<p>
  <%= link_to "Back", :back, class: "btn btn-default" %>
</p>
