<%= form_for @user, class: "form" do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, required: true, class: "form-control" %>
    <p class="field-error"><%= show_errors(@user, "username") %></p>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, required: true, class: "form-control" %>
    <p class="field-error"><%= show_errors(@user, "password") %></p>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true, class: "form-control" %>
    <p class="field-error"><%= show_errors(@user, "password_confirmation") %></p>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
