
<h1>Hello <%= @user.username %>! Welcome to your Dashboard!</h1>

<h3>Your Cookbooks:</h3>

<h3>Your Recipes:</h3>

<%= link_to "Create a New Recipe", new_user_recipe_path(params[:user_id]), class: "btn btn-default" %>
<br>
<% @recipes.each do |recipe| %>
  <div class="dashboard-product-block">
    <%= link_to(image_tag(recipe.image_url(:thumb)), recipe_path(recipe.id)) %>
    <%= link_to "Edit", edit_recipe_path(recipe.id), class: "btn btn-default dashboard-button" %>
    <%= link_to "X", recipe_path(recipe.id), method: :delete, class: "btn btn-danger dashboard-button" %>
    <h5><%= recipe.name %></h5>
  </div>
<% end %>

<h3>Your Ingredients: </h3>

<%= link_to "List a New Ingredient", new_ingredient_path, class: "btn btn-default" %>
<br>

<% @user.ingredients.each do |ingredient| %>
  <div class="dashboard-product-block">
    <%= link_to(image_tag(ingredient.image_url(:thumb)), ingredient_path(ingredient.id)) %>
    <%= link_to "Edit", edit_ingredient_path(ingredient.id), class: "btn btn-default dashboard-button" %>
    <%= link_to "X", ingredient_path(ingredient.id), method: :delete, class: "btn btn-danger dashboard-button" %>
    <h5><%= ingredient.name %></h5>
  </div>
<% end %>
