
<h1>Hello <%= @user.username %>! Welcome to your Dashboard!</h1>

<h3>Your Cookbooks:</h3>
<%= link_to "Create a New Cookbook", new_user_cookbook_path(@user.id), class: "btn btn-default" %>
<br>

<% @user.cookbooks.each do |cookbook| %>
  <div class="dashboard-product-block">
    <%= link_to(image_tag(cookbook.image_url(:thumb)), user_cookbook_path(@user.id, cookbook.id)) %>
    <div class="dashboard-buttons-block">
      <%= link_to edit_user_cookbook_path(@user.id, cookbook.id), class: "btn btn-default dashboard-button" do %><span class="glyphicon glyphicon-pencil"></span><% end %>
      <%= link_to user_cookbook_path(@user.id, cookbook.id), method: :delete, class: "btn btn-danger dashboard-button" do %><span class="glyphicon glyphicon-remove"></span><% end %>
    </div>
    <h5><%= link_to "#{cookbook.name}", user_cookbook_path(@user.id, cookbook.id)  %></h5>
    <h6>Recipe Count: <%= cookbook.recipes.count %></h6>
    <h6>Unique Ingredient(s): <%= cookbook.ingredients.uniq.count %> </h6>
  </div>
<% end %>

<h3>Your Recipes:</h3>

<%= link_to "Create a New Recipe", new_user_recipe_path(params[:user_id]), class: "btn btn-default" %>
<br>
<% @recipes.each do |recipe| %>
  <div class="dashboard-product-block">
    <%= link_to(image_tag(recipe.image_url(:thumb)), recipe_path(recipe.id)) %>
    <div class="dashboard-buttons-block">
      <%= link_to edit_recipe_path(recipe.id), class: "btn btn-default dashboard-button" do %><span class="glyphicon glyphicon-pencil"></span><% end %>
      <%= link_to recipe_path(recipe.id), method: :delete, class: "btn btn-danger dashboard-button" do %><span class="glyphicon glyphicon-remove"></span><% end %>
    </div>
    <h5><%=link_to "#{recipe.name}", recipe_path(recipe.id) %></h5>
  </div>
<% end %>

<h3>Your Ingredients: </h3>

<%= link_to "List a New Ingredient", new_ingredient_path, class: "btn btn-default" %>
<br>

<% @user.ingredients.each do |ingredient| %>
  <div class="dashboard-product-block">
    <%= link_to(image_tag(ingredient.image_url(:thumb)), ingredient_path(ingredient.id)) %>
    <div class="dashboard-buttons-block">
      <%= link_to edit_ingredient_path(ingredient.id), class: "btn btn-default dashboard-button" do %><span class="glyphicon glyphicon-pencil"></span><% end %>
      <%= link_to ingredient_path(ingredient.id), method: :delete, class: "btn btn-danger dashboard-button" do %><span class="glyphicon glyphicon-remove"></span><% end %>
    </div>
    <h5><%= link_to "#{ingredient.name}", ingredient_path(ingredient.id) %></h5>
  </div>
<% end %>
