<h2>Dashboard</h2>
<%= link_to "Logout", logout_path, method: :delete %>

<p>
  Hello, <%= @user.name %>
</p>

<%= link_to "Add New Recipe", new_user_recipe_path(session[:user_id]) %>

<table>
  <th>Recipes</th>
  <th>Edit</th>
<% @recipes.each do |recipe| %>
<tr>
  <td><%= recipe.name %></td>
  <td><%= link_to "Edit", edit_user_recipe_path(session[:user_id], recipe.id) %></td>
  </tr>
  <% end %>
</table>

<h3>Cookbooks</h3>
<p>
  <%= link_to "Add New Cookbook", new_user_cookbook_path(@user), class: "btn btn-default" %>
</p>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Recipes</th>
      <th>Ingredients</th>
    </tr>
  </thead>
  <tbody>
    <% @cookbooks.each do |cookbook| %>
    <tr>
      <td><%= link_to cookbook.name, user_cookbook_path(@user, cookbook) %></td>
      <td><span class="badge"><%= cookbook.recipes.count %></span></td>
      <td><span class="badge"><%= cookbook.ingredients.count %></span></td>
    </tr>
    <% end %>
  </tbody>
</table>
