<h2>Dashboard</h2>
<p>
  Hello, <%= @user.name %>
</p>

<%= link_to "Add New Recipe", new_user_recipe_path(session[:user_id]), class: "btn btn-primary" %>

<%= link_to "My Ingredients", user_ingredients_path(session[:user_id]), class: "btn btn-primary" %>

<table>
  <th>Recipes</th>
  <th>Edit</th>
  <th>Delete?</th>
<% @recipes.each do |recipe| %>
<tr>
  <td><%= link_to recipe.name, recipe_path(recipe) %></td>
  <td><%= link_to "Edit", edit_user_recipe_path(session[:user_id], recipe.id) %></td>
  <td><%= link_to "Delete", user_recipe_path(session[:user_id], recipe.id), method: :delete, data: { confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>
</table>

<h3>Cookbooks</h3>
<p>
  <%= link_to "Add New Cookbook", new_user_cookbook_path(@user), class: "btn btn-default" %>
</p>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Recipes</th>
      <th>Ingredients</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @cookbooks.each do |cookbook| %>
    <tr>
      <td><%= link_to cookbook.name, user_cookbook_path(@user, cookbook) %></td>
      <td><span class="badge"><%= cookbook.recipes.count %></span></td>
      <td><span class="badge"><%= cookbook.ingredients.count %></span></td>
      <td><%= link_to "Edit", edit_user_cookbook_path(@user, cookbook), class: "btn btn-default" %></td>
      <td><%= link_to "Delete", user_cookbook_path(@user, cookbook), method: :delete, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
