<h1>Dashboard</h1>
<%= link_to "Logout", logout_path, method: :delete %>

<p>
  Hello, <%= @user.name %>
</p>

<%= link_to "Add New Ingredient", new_user_ingredient_path(session[:user_id]) %>
<%= link_to "Add New Recipe", new_user_recipe_path(session[:user_id]) %>

<table>
  <th>Recipes</th>
  <th>Edit</th>
<% @recipes.each do |recipe| %>
<tr>
  <td><%= recipe.name %></td>
  <td><%= link_to "Edit", edit_user_recipe_path(session[:user_id], recipe.id) %></td>
  </tr>
  <% end %>
</table>

