<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li role="presentation">
        <%= link_to 'Recipes', my_recipes_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Cookbooks', my_cookbooks_path %>
      </li>
      <li role="presentation" class="dropdown"  class="active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Ingredients', my_ingredients_path %></li>
          <!-- make a link to user profile -->
          <li>Profile</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<h3>My Ingredients</h3>

<%= link_to 'Add an ingredient', new_ingredient_path, class: "btn btn-default", role: "button" %>

<table class="table table-hover">
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td>
          <%= link_to ingredient.name, ingredient %>
        </td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Delete', ingredient, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
