<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li role="presentation">
        <%= link_to 'Recipes', my_recipes_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Cookbooks', my_cookbooks_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to 'Ingredients', my_ingredients_path %>
      </li>
    </ul>
  </div>
</div>

<h3>My Ingredients</h3>

<p>
  <%= link_to 'New ingredient', new_ingredient_path, class: "btn btn-default", role: "button" %>
</p>

<table class="table table-hover">
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td>
          <%= link_to ingredient.name, ingredient %>
        </td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Delete', ingredient, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
