<h2>Register</h2>

<%= form_for @user do |f| %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>

    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>

    <%= f.label :password %>
    <%= f.text_field :password, class: "form-control" %>

    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.text_field :password_confirmation, class: "form-control" %>

    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>

<% end %>
