<h2>Register</h2>

<%= form_for @user do |f| %>

	<p class="form-error">
		<%= error_check_for(:username) %>
	</p>
	<div class="form-group">
		<%= f.label :username %>
		<%= f.text_field :username %>
	</div>

	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div class="form-group">
		<%= f.label :password %>
		<%= f.text_field :password %>
	</div>

	<div class="form-group">
		<%= f.label :password_confirmation, 'Password Confirmation' %>
		<%= f.text_field :password_confirmation %>
	</div>

	<%= f.submit 'Register', class: 'btn btn-primary' %>

<% end %>
