<h2>Register</h2>

<p class="text-danger form-errors">
	<%= flash[:notice] %>
</p>

<%= form_for @user do |f| %>

	<!-- style these errors and reformat phrase  -->
	<p class="text-danger form-errors">
		<%= error_check(:username) %>
	</p>

	<div class="form-group">
		<%= f.label :username %>
		<%= f.text_field :username %>
	</div>

	<p class="text-danger form-errors">
		<%= error_check(:email) %>
	</p>

	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<p class="text-danger form-errors">
		<%= error_check(:password) %>
	</p>

	<div class="form-group">
		<%= f.label :password %>
		<%= f.text_field :password %>
	</div>

	<p class="text-danger form-errors">
		<%= error_check(:password_confirmation) %>
	</p>

	<div class="form-group">
		<%= f.label :password_confirmation, 'Password Confirmation' %>
		<%= f.text_field :password_confirmation %>
	</div>

	<% unless session[:user_id] %>
		<%= f.submit 'Register', class: 'btn btn-primary' %>
	<% else %>
		<%= f.submit 'Register', { class: 'btn btn-primary', disabled: 'disabled' } %>
	<% end %>

<% end %>
