<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h1>Create an Account</h1>

      <%= form_for @user do |f| %>
        <%= render partial: 'shared/error_messages', locals: { any_errors: @user.errors.any?,
                                                               count_errors: @user.errors.count,
                                                               messages: @user.errors.full_messages } 
        %>
        
        <%= f.label :name, class: 'required' %>
        <%= f.text_field :name, class: 'form-control form-group' %>

        <%= f.label :email, class: 'required' %>
        <%= f.email_field :email, class: 'form-control form-group' %>

        <%= f.label :password, "Password (min 6 characters)", class: 'required' %>
        <%= f.password_field :password, class: 'form-control form-group' %>

        <%= f.label :password_confirmation, "Confirmation", class: 'required' %>
        <%= f.password_field :password_confirmation, class: 'form-control form-group' %>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
