<div class="container marketing">
  <h1>Welcome back, <%= @user.name %>!</h1>
  <hr class="featurette-divider">
  <h3><mark>Cookbooks:</mark></h3>

  <div class="row">
    <% @cookbooks.each do |cookbook| %>
      <div class="col-md-4">
        <p class="lead"><%= cookbook.name %>: <small>Recipes <%= cookbook.recipes.count %> Ingredients <%= cookbook.ingredients.count %></small></p>

        <% cookbook.recipes.each do |recipe| %>
          <%= image_tag recipe.image_url, class:"img-circle", size: "250x250" %>
          <h2><%= recipe.name %></h2>
          <p><%= recipe.description %></p>
          <p><%= link_to "View details", recipe_path(recipe.id), class: "btn btn-default" %></p>
        <% end %>
     </div>

      <%= link_to "Delete this cookbook", cookbook_path(cookbook), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?"} %>

    <% end %>

  <%= link_to "Create a New Cookbook", new_cookbook_path, class: "btn btn-default" %>
</div>
