<div class="container">
  <div class="col-md-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </div>

      <!-- List group -->
      <ul class="list-group">
        <% @cookbooks.each do |cookbook| %>
          <li class="list-group-item">
            <%= link_to cookbook.name, cookbook_path(cookbook.id) %>
            <span class="pull-right">
              <%= link_to edit_cookbook_path(cookbook.id) do %>
                  <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
              <%= link_to cookbook_path(cookbook.id), method: :delete do %>
                  <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            </span>
            <br>
            <span class="recipe-count text-muted"><%= pluralize(cookbook.recipes.count, "recipe") %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
