<div class="container">
  <h1>Welcome, <%= @user.username %></h1>
  <%= button_to "New Recipe", new_recipe_path, method: :get %>
  <%= button_to "New Cookbook", new_cookbook_path, method: :get %>

  <table class="table">
    <tr>
        <th>Cookbook Name</th>
        <th>Description</th>
        <th>No. Recipes</th>
        <th>Delete</th>
    </tr>
    <% @cookbooks.each do |cookbook| %>
      <tr>
        <td> <h3><%= cookbook.name %></h3> </td>
        <td><%= cookbook.description %></td>
        <td><%= cookbook.recipes %> RECIPES</td>
        <td><%= button_to "Delete", cookbook_path, method: "delete" %></td>
      </tr>
    <% end %>
  </table>
</div>
