<h1>Chef | <%= @user.username %></h1>
<br>
<%= image_tag @user.image_url, class: "display-img" %>


<h3><%= @user.username %>'s Recipes: </h3>
<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-3 search_result_tiles">
      <%= link_to(image_tag(recipe.image_url(:thumb)), recipe_path(recipe.id)) %>
      <br>
      <h4><%= recipe.name %></h4>
    </div>
  <% end %>
</div>
