<div class="container marketing">

  <h1>Account Page</h1>
  <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-default" %>

  <h4>Hello <%= @user.name %>!</h4>

  <%= link_to "Create a New Cookbook", new_cookbook_path, class: "btn btn-default" %>

  <h3>Cookbooks</h3>

  <% @cookbooks.each do |cookbook| %>
  <div class="book">
    <div class="row">
      <div class="col-md-12">
        <h4><%= cookbook.name %></h4><small>Recipes <%= cookbook.recipes.count %> Ingredients <%= cookbook.ingredients.count %></small>
      </div>

      <% cookbook.recipes.each do |recipe| %>
        <div class="row">
          <div class="col-sm-8 col-md-offset-4">
            <p><%= link_to "#{recipe.name}", recipe_path(recipe) %></p>
            <p><%= image_tag recipe.image_url, class: "img-circle", size: "160x160" %></p>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <%= link_to "Delete this cookbook", cookbook_path(cookbook), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?"} %>

  <% end %>
</div>
