<div class="container">
  <div class="col-md-4">
    <div class="panel panel-default">
      <!-- Panel contents -->
      <div class="panel-heading">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
        <p class="container profile-buttons">
          <%= link_to("Add Cookbook", new_cookbook_path, class: "btn btn-sm btn-primary") %>
          <%= link_to("Add Recipe", new_recipe_path, class: "btn btn-sm btn-primary") %>
          <%= link_to("Add Ingredient", new_ingredient_path, class: "btn btn-sm btn-primary") %>
        </p>
      </div>

      <!-- List group -->
      <ul class="list-group">
        <% @cookbooks.each do |cookbook| %>
          <li class="list-group-item">
            <%= link_to cookbook.name, {:controller => "users", :action => "show", :cookbook => cookbook.id } %>
            <span class="pull-right">
              <%= link_to edit_cookbook_path(cookbook.id) do %>
                  <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
              <%= link_to cookbook_path(cookbook.id), method: :delete do %>
                  <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            </span>
            <br>
            <span class="recipe-count text-muted"><%= pluralize(cookbook.recipes.count, "recipe") %></span>
            <br>
            <span class="recipe-count text-muted"><%= pluralize(cookbook.ingredients.uniq.count, "unique ingredient") %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-7">
    <div class="recipes">
      <% if @cookbook %>
        <%= render template: "cookbooks/show", layout: false %>
      <% end %>
    </div>
  </div>

</div>
