<div class="container marketing">
  <h1>Welcome back, <%= @user.name %>!</h1>
  <hr class="featurette-divider">
  <h3><mark>Cookbooks:</mark></h3>

  <div class="row">
    <% @user.cookbooks.each do |cookbook| %>
      <div class="col-md-4">
        <p class="lead"><%= cookbook.name %>: <small>Recipes <%= cookbook.recipes.count %> Ingredients <%= cookbook.ingredients.count %></small></p>

        <% cookbook.recipes.each do |recipe| %>
          <%= image_tag recipe.image_url, class:"img-circle", size: "250x250" %>
          <h2><%= recipe.name %></h2>
          <p><%= recipe.description %></p>
          <p><%= link_to "View details", recipe_path(recipe.id), class: "btn btn-default" %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
