<h1>User Profile for <%= @user.username %></h1>
<div class="row">
  <div class="col-sm-8 col-md-4">
    <div class="thumbnail">
      <%= image_tag @user.image_url(:small), alt: "User Profile Photo" %>
      <div class="caption">
        <h3><%= @user.username %></h3>
        <p>Email: <%= @user.email %></p>
      </div>
    </div>
  </div>
</div>

<% if session[:user_id] %>
  <%= render partial: "shared/cookbooks" %>
<% end %>

<h3>Recipes<small><%= link_to new_recipe_path(@user.id) do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" title="Create a Recipe!"></span>
<% end %></small></h3>
<%= render partial: "shared/recipes" %>

<h3>Ingredients<small><%= link_to new_ingredient_path(@user.id) do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" title="Create an Ingredient!"></span>
<% end %></small></h3>
<%= render partial: "shared/ingredients" %>
