<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>

      <%= link_to "Add a Cookbook", new_cookbook_path, class: "btn btn-default" %>

      <h3>My Cookbooks</h3>
        <ul>
          <% @cookbooks.each do |cookbook| %>
            <li>
              <%= link_to cookbook.name, cookbook_path(cookbook.id) %>
              (<%= cookbook.recipes.count %> Recipe)
              <%= link_to "Edit", edit_cookbook_path %>
            </li>
          <% end %>
        </ul>

      <h3>My Recipes</h3>
        <ul>
          <% @recipes.each do |recipe| %>
            <li><%= link_to recipe.name, recipe_path(recipe.id) %></li>
          <% end %>
        </ul>
    </aside>
  </div>
</div>
