<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.username %></h3>
      </div>

      <div class="panel-body">
        <p>member since: <%= readable_date(@user.created_at) %></p>

        <p><%= @user.username %>'s recipes:</p>
        <ul>
          <% @recipes.each do |recipe| %>
            <li><%= link_to recipe.name, recipe %></li>
          <% end %>
        </ul>

        <% if @current_user && @user.id == @current_user.id %>
          <%= link_to 'Edit your profile', edit_profile_path, class: "btn btn-default", role: "button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
