<% content_for :page_title do %>
  <h2><%= @user.username %>'s Profile</h2>
<% end %>

<h3>ABOUT</h3>
<%= @user.bio %>

<h3><%= @user.username %>'s Recipes</h3>
<%= render 'shared/list_of_links_with_images', { objects: @recipes } %>
<% if authenticated? %>
  <%= link_to "New Recipe", new_recipe_path, class: "btn btn-default" %>
<% end %>

<h3><%= @user.username %>'s Cookbooks</h3>
<%= render 'cookbooks/cookbooks_list', { cookbooks: @cookbooks } %>
<% if authenticated? %>
  <%= link_to "New Cookbook", new_cookbook_path, class: "btn btn-default" %>
<% end %>

<h3><%= @user.username %>'s Ingredients</h3>
<%= render 'shared/list_of_links_with_images', { objects: @ingredients } %>
<% if authenticated? %>
  <%= link_to "New Ingredient", new_ingredient_path, class: "btn btn-default" %>
<% end %>
