<div class="container">
  <h1><%= @user.username %> Dashboard </h1>
  <%= button_to "New Recipe", new_recipe_path, method: :get, class: "btn btn-default" %>
  <%= button_to "New Cookbook", new_cookbook_path, method: :get, class: "btn btn-default" %>

  <table class="table table-bordered">
    <tr>
        <th>Cookbook Name</th>
        <th>Description</th>
        <th>No. Recipes</th>
        <th></th>
    </tr>
    <% @cookbooks.each do |cookbook| %>
      <tr>
        <td> <h3><%= link_to "#{cookbook.name}", cookbook_path(cookbook.id) %></h3> </td>
        <td><%= cookbook.description %></td>
        <td><%= cookbook.recipes.count %> </td>
    <td><%= button_to "Delete", cookbook_path(cookbook.id), method: "delete", class: "btn btn-danger" %></td>
<% end %>
  </table>

</div>
