<nav class="navbar navbar-default" id="top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">noshables</a>
		</div>

		<div class="col-sm-2">
			<% unless session[:user_id] %>
				<%= link_to recipes_path, class: "btn" do %>
					<i class="fa fa-cutlery"></i>
				<% end %>
				<%= link_to ingredients_path, class: "btn btn-lg" do %>
					<i class="fa fa-leaf"></i>
				<% end %>
			<% else %>
				<%= link_to user_cookbooks_path(session[:user_id]), class: "btn" do %>
					<i class="fa fa-book"></i>
				<% end %>
				<%= link_to recipes_path, class: "btn" do %>
					<i class="fa fa-cutlery"></i>
				<% end %>
				<%= link_to ingredients_path, class: "btn btn-lg" do %>
					<i class="fa fa-leaf"></i>
				<% end %>
			<% end %>
		</div>

			<% if session[:user_id].nil? %>
				<div class="col-sm-6 float-right">

					<%= form_for(:session, url: login_path)  do |f| %>
						<div class="form-group col-sm-3">
							<%= f.label :username %>
							<%= f.text_field :username, class: "form-control float-right" %>
						</div>

						<div class="form-group col-sm-3">
								<%= f.label :password %>
								<%= f.password_field :password, class: "form-control float-right"  %>
						</div>

						<%= f.submit "Log In", class: "btn btn-primary col-sm-2 login" %>
					<% end %>

					<!-- register button -->
	        <%= link_to "Sign up", new_user_path, class: 'btn btn-primary col-sm-2 login float-right' %>
				</div>

			<% else %>
				<div class="float-right">
					Hello, <%= link_to @user.username, user_path(session[:user_id]) %>!

					<%= link_to "Log Out", logout_path, method: :delete, class: 'btn btn-default login' %>
				</div>
			<% end %>
	</div>
</nav>
