<% unless session[:user_id].nil? %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%=user_path(session[:user_id])%>">My Dashboard</a></li>
        <li><a href="<%=user_cookbooks_path(session[:user_id])%>">My Cookbooks</a></li>
        <li><a href="<%=ingredients_by_user_path(session[:user_id])%>">My Ingredients</a></li>
        <li><a href="<%=new_user_recipe_path(session[:user_id])%>">Create a New Recipe</a></li>
        <li> <%= form_tag(query_path, :method => "get", class: "navbar-form", id: "search-form") do %>
          <div class="input-append">
            <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Ingredients" %>
            <button class="btn" type="submit"><i class="icon-search"></i></button>
        </div>
        <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Logout", logout_path, method: :delete %></li> 
      </ul>
    </div>
  </div>
</nav>

<% else %>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%=root_path%>">Home</a></li>
        <li><a href="<%=ingredients_path%>">Ingredients</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= login_path %>">Login</a></li> 
      </ul>
    </div>
  </div>
</nav>
<% end %>