<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="collapse navbar-collapse">

			<!-- recipe search -->
			<div class = "navbar-left">
				<%= form_tag({controller:'ingredients', action: 'search'}, method: "get") do %>
				<%= text_field_tag :search, params[:search], id: 'search_field', placeholder: "Search Recipes" %>
				<%= submit_tag "Search" %>
				<% end %>
			</div>

			<!-- login/logout -->
			<div class="navbar-right">

				<% unless session[:user_id] %>
					<%= link_to 'Login', new_session_path, class: 'btn btn-primary login' %>

				<% else %>
					<%= link_to 'My Cookbooks', user_path(session[:user_id]), class: 'nav-user-link' %>
					<%= link_to 'Logout', session_path(session[:user_id]), method: :delete, class: 'btn btn-primary logout' %>
				<% end %>

			</div>

		</div>
	</div>
</nav>
