<div class="form">
  <%= form_for @recipe, url: @url, method: @method do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control form-group" %>

    <%= f.label :desc %>
    <%= f.text_area :desc, class: "form-control form-group" %>

    <%= f.label :image, "Upload an Image" %>
    <%= f.file_field :image, class: "form-control form-group" %>

    <%= f.label :prep, "Preparation" %>
    <%= f.text_area :prep, class: "form-control form-group" %>

    <div class="form-group">
      <%= f.label :ingredients, "Select All Ingredients: " %>
      <%= collection_check_boxes(:recipe, :ingredient_ids, Ingredient.all, :id, :name) do |b| %>
        <%= b.label class: "checkbox-inline form-group" do %>
          <%= b.check_box + b.text.titlecase %>
        <% end %>
      <% end %>
    </div>

    <%= f.hidden_field :user_id, value: session[:user_id] %>

    <%= f.submit class: "btn btn-primary form-control" %>
  
  <% end %>
</div>
