<ul class="list-group">
  <% recipes.each do |recipe| %>
    <li class="list-group-item">
      <%= link_to recipe.proper_name, recipe_path(recipe.id) %>
      <span class="badge"><%= recipe_ingredients_count(recipe) %></span>
      <% if session[:user_id] %>
        <%= link_to "+Cookbook", root_path, class: "btn btn-default btn-xs" %>
        <% if recipe.user_id == session[:user_id] %>
          <%= link_to "Edit", edit_user_recipe_path(@authenticated_user, recipe), class: "btn btn-info btn-xs" %>
          <%= link_to "Delete", user_recipe_path(@authenticated_user, recipe), class: "btn btn-warning btn-xs" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
