<%= form_for @recipe, url: @url, method: @method do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :desc %>
    <%= f.text_area :desc %>
  </div>
  <div class="form-group">
    <%= f.label :image, "Upload an Image" %>
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :prep, "Preparation" %>
    <%= f.text_area :prep %>
  </div>
  <div class="form-group">
    <%= f.label :ingredient_ids, "Select All Ingredients" %>
    <%= f.collection_select :ingredient_ids, Ingredient.all, :id, :name, {}, {multiple: true} %>
  </div>
  <!-- <div class="form-group"> -->
  <%= #f.fields_for :ingredients_attributes do |ingredient_fields| %>
    <%= #ingredient_fields.label :name, "Add New Ingredient" %>
    <%= #ingredient_fields.text_field :name %>
    <% #end %>
  <!-- </div> -->
  <%= f.hidden_field :user_id, value: session[:user_id] %>

  <%= f.submit %>

<% end %>
