<ul class="list-group">
  <% recipes.each do |recipe| %>
    <li class="list-group-item">
      <% if recipe.avatar %>
        <%= image_tag recipe.avatar_url(:thumb) %>
      <% end %>
      <%= link_to recipe.proper_name, recipe_path(recipe) %>
      <span class="badge"><%= recipe_ingredients_count(recipe) %></span>
      <% if @authenticated_user %>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle btn-xs"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            +Cookbook <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% (@authenticated_user.cookbooks).each do |cookbook| %>
              <li>
                <%= link_to cookbook.name, user_cookbook_recipe_path(@authenticated_user, cookbook, recipe),
                    method: "post" %>
              </li>
            <% end %>
          </ul>
        </div>
        <% if recipe.user_id == @authenticated_user.id %>
          <%= link_to "Edit", edit_user_recipe_path(@authenticated_user, recipe),
              class: "btn btn-info btn-xs" %>
          <%= link_to "Delete", user_recipe_path(@authenticated_user, recipe),
              class: "btn btn-warning btn-xs", method: :delete, data: {
              confirm: "Are you sure you want to delete #{ recipe.proper_name }?" } %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
