<div class="container">
  <div class="row">
    <% recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="thumbnail">
        <a href="<%= recipe_path(recipe.id)%>">
          <%= image_tag(recipe.image_url(:thumb), class: "img-rounded product-thumb") %>
          <div class="caption">
            <h3><%= link_to recipe.name.titlecase, recipe_path(recipe) %></h3>
            <%= render partial: "recipes/ingredients_list", locals: { recipe: recipe } %>
            <%= link_to "Details", recipe_path(recipe), class: "btn btn-info no-border-buttons" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
