<div class="form">
<%= form_for @recipe, url: @url, method: @method do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :desc %>
    <%= f.text_area :desc, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image, "Upload an Image" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :prep, "Preparation" %>
    <%= f.text_area :prep, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ingredients, "Select All Ingredients Necessary" %>
    <%= collection_check_boxes(:recipe, :ingredient_ids, Ingredient.all, :id, :name) do |b| %>
    <%= b.label class: "checkbox-inline" do %>
      <%= b.check_box + b.text.titlecase %>
      <% end %>
      <% end %>
  </div>

  <%= f.hidden_field :user_id, value: session[:user_id] %>
<div class="form-group">
  <%= f.submit %>
</div>
<% end %>
</div>
