<%= form_for @ingredient do |f| %>

  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :image, "Ingredient Image" %>
    <%= f.file_field :image%>

    <% f.hidden_field :user_id, :value => session[:id] %>

    <%= f.submit "Add Ingredient to Database", class: "btn btn-default" %>
  </div>
<% end %>
