<%= form_for ingredient, multipart: true do |f| %>
  <div class = "form-group">
  <%= f.label :name, "#{name_desc}" %>
  <%= f.text_field :name, class: "form_control", autofocus: true, placeholder: name_placeholder, value: name_value %>
  </div>

  <div class = "form-group">
  <%= f.label :image, "#{image_desc}" %>
  <%= f.file_field :image, class: "form_control", placeholder: image_placeholder, value: image_value %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :active, value: true %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
  </div>

  <div class = "form-group">
  <%= f.submit submit_button, class: "btn btn-default" %>
  <% end %>
  </div>
