<div class="container marketing">
    <h1>All Ingredients</h1>
    <% if session[:user_id] %>
      <a href ="#ingredients">See your ingredients</a>
    <% end %>

    <hr class="featurette-divider">

    <div class="row">
      <% @ingredients.each do |ingredient| %>
        <div class="col-lg-3">
          <p class="lead"><%= ingredient.name.capitalize %></p>

          <%= link_to ingredient_path(ingredient.id) do %>
            <% if ingredient.image_url %>
              <%= image_tag ingredient.image_url, class: "img-circle", size: '200x200' %>
            <% elsif ingredient.photo_url %>
              <%= image_tag ingredient.photo_url, class: "img-circle", size: '200x200' %>
            <% else %>
              <%= image_tag "no_image.png", class: "img-circle", size: '200x200' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

  <% if session[:user_id] %>
    <h1 id="ingredients">Ingredients you added</h1>
    <p><%= link_to "Create a New ingredient", new_ingredient_path, class: "btn btn-default" %></p>
      <hr class="featurette-divider">

      <% @ingredients = @ingredients.where(user_id: session[:user_id]) %>
    <% if @ingredients.length != 0 %>

      <div class="row">
        <% @ingredients.each do |ingredient| %>
          <div class="col-lg-3">
            <p class="lead"><%= ingredient.name.capitalize %> <%= link_to "Edit", edit_ingredient_path(ingredient.id) %> <%= link_to "Delete", ingredient_path(ingredient.id), method: :delete, data: { confirm: "Are you sure you want to remove this ingredient?"} %></p>

            <%= link_to ingredient_path(ingredient.id) do %>
            <% if ingredient.image_url %>
              <%= image_tag ingredient.image_url, class: "img-circle", size: '200x200' %>
            <% elsif ingredient.photo_url %>
              <%= image_tag ingredient.photo_url, class: "img-circle", size: '200x200' %>
            <% else %>
              <%= image_tag "no_image.png", class: "img-circle", size: '200x200' %>
            <% end %>
          <% end %>
          </div>
        <% end %>
      </div>
    <% else%>
      <p>You haven't added any ingredients yet!</p>
    <% end %>
  <% end %>
</div>
