<div class="container">

  <%= form_for @ingredient, html: {class: "form-group"}, method: :post do |f|  %>
    <div class="form-group">

      <% flash.each do|name, message| %>
        <div class="error"><%= message %></div>
      <% end %>
      <fieldset>
        <legend><h2>Add an Ingredient!</h2></legend>
        <%= f.label :name, "Ingredient Name" %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :image, 'Photo' %>
        <%= f.file_field :image, class: "form-control" %>
  <br>
      </fieldset>
      <%= f.submit "Submit", class: "btn btn-default"%>
    </div>
  <% end %>
</div>
