<% if flash.now[:error] %>
  <%= flash.now[:error] %>
<% end %>

<h1>New Ingredient</h1>

<%= form_for @ingredient, url: user_ingredients_path(session[:user_id]), html: { class: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, :value => params[:user_id] %>

  <%= f.submit "Add Ingredient", method: :post, class: "btn btn-primary" %>
<% end %>
