<h1>Add a New Ingredient</h1>

<%= form_for @ingredient, url: user_ingredients_path(params[:user_id]) do |f| %>
  <fieldset>
    <legend>Ingredient Details</legend>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :image %>
      <%= f.file_field :image %>
  </fieldset>

  <%= f.submit %>
<% end %>

<% unless @ingredients.nil? %>
  <% @ingredients.each do |ingredient| %>
    <%= ingredient.name %>
    <%= image_tag(ingredient.image.full) %>
    <%= link_to "Delete", user_ingredient_path(params[:user_id], ingredient.id), method: :delete, data: {confirm: "Are you sure you want to delete #{ingredient.name}?"} %>
  <% end %>
<% end %>