<% if session[:user_id] %>
  <div class="text-right">
    <%= link_to "Edit Ingredient", edit_ingredient_path(@ingredient.id), class: 'btn btn-primary' %>
    <%= link_to "Delete Ingredient", ingredient_path(@ingredient.id), method: :delete, class: 'btn btn-danger' %>
  </div>
<% end %>

<div class="col-sm-3">
  <%= image_tag @ingredient.image_url(:medium), alt: "#{@ingredient.name}", class: "img-responsive" %>
</div>

<div class="col-sm-9">
  <h1><%= @ingredient.name %></h1>
</div>

<%= render partial: "shared/recipes" %>
