<% content_for :page_title do %>
  <h2><%= @ingredient.name %></h2>
  <h3><%= link_to @ingredient.user.username, user_path(@ingredient.user) %></h3>
<% end %>

<main class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

      <%= image_tag @ingredient.image_url, class: "img-responsive center-block img-rounded" %>

      <h4>Recipes Containing <%= @ingredient.name %></h4>
      <%= render 'shared/list_of_links_with_images', { objects: @ingredient.recipes } %>

    </div>
  </div>
</main>
