<h2 class="txt-center"><%= @ingredient.name %></h2>
<%= image_tag @ingredient.image_url, class: "img-md img-circle img-center" %>

<br>

<%= link_to "Edit", edit_ingredient_path(@ingredient.id), class: "btn btn-default btn-center" %>
<%= link_to "Delete", ingredient_path(@ingredient.id), class: "btn btn-default btn-center", :method => :delete %>

<br>

# Edit and Delete will only be available if ingredient.user_id matches session user_id

<%= link_to "Return to Ingredients Index", ingredients_path %>
