<% if session[:user_id] %>
  <div class="text-right">
    <%= link_to edit_ingredient_path(@ingredient.id), class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" title="Edit Me!"></span>
    <% end %>
    <%= link_to ingredient_path(@ingredient.id), method: :delete, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
<% end %>

<div class="col-sm-3">
  <%= image_tag @ingredient.image_url(:medium), alt: "#{@ingredient.name}", class: "img-responsive" %>
</div>

<div class="col-sm-9">
  <h1><%= @ingredient.name %></h1>
</div>

<div class="row col-sm-12">
  <h3>Recipes containing <%= @ingredient.name %>:</h3>
  <%= render partial: "shared/recipes" %>
</div>
