<% content_for :page_title do %>
  <h2><%= @ingredient.name %></h2>
  <h3><%= link_to @ingredient.user.username, user_path(@ingredient.user) %></h3>
<% end %>

<%= image_tag @ingredient.image_url, class: "img-responsive center-block img-rounded" %>

<h4>Recipes Containing <%= @ingredient.name %></h4>
<%= render 'shared/list_of_links_with_images', { objects: @ingredient.recipes } %>
