<h2 class="txt-center"><%= @ingredient.name %></h2>
<%= image_tag @ingredient.image_url, class: "img-md img-circle img-center" %>

<br>

<% if session[:user_id] %>
  <% if session[:user_id] == @ingredient.user_id %>
    <%= link_to "Edit", edit_ingredient_path(@ingredient.id), class: "btn btn-default btn-center" %>
    <%= link_to "Delete", ingredient_path(@ingredient.id), class: "btn btn-default btn-center", :method => :delete %>
  <% end %>
<% end %>

<br>

<%= link_to "Return to Ingredients Index", ingredients_path, class: "txt-center" %>

<h3>Recipes</h3>
<% @recipes.each do |recipe| %>
<div class = "col-sm-3">
  <%= link_to  "#{recipe.name}", recipe_path(recipe.id) %>
  <%= image_tag recipe.image_url, class: "img-board img-center" %>
</div>
<% end %>
