<h3><%= @ingredient.name %></h3>

<%= image_tag @ingredient.image_url(:display) %>

<% if appropriate_user(@ingredient) %>
  <p>
    <%= link_to 'Edit', edit_ingredient_path(@ingredient), role: "button", 
      class: "btn btn-primary" %>
  </p>
  <p><%= link_to "Delete this ingredient", ingredient_path(@ingredient), method: "delete", data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></p>
<% end %>

<h4>Used in these recipes:</h4>

<% if @ingredient.recipes.count > 0 %>
  <ul class="list=group">
    <%= render partial: 'recipe', collection: @ingredient.recipes %>
  </ul>
<% else %>
  <em>This ingredient is not currently used in any recipes.</em>
<% end %>
