
<div class="row">
  <div class="col-xs-12 col-md-8">
    <h2 class="home-header">Latest Recipes <small><%= link_to "See all", recipes_path %></small></h2>
  </div>
  <div class="col-xs-6 col-md-4">
    <h2>Ingredients <small><%= link_to "See all", ingredients_path %></small></h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">
  <% @recipes.each do |recipe| %>
    <div class="col-md-6">
      <div class="thumbnail">
        <p><%= link_to recipe.name, recipe_path(recipe) %></p>
        <p><%= image_tag recipe.image_url(:thumb) %></p>
        <!-- Update with image path -->
      </div>
    </div>
  <% end %>
    </div>

  <div class="col-xs-6 col-md-4">
    <ul class="list-group">
    <% @ingredients.each do |ingredient| %>
        <li class="list-group-item"><%= ingredient.name %></li>
    <% end %>
  </div>

</div>
