<div class="container">

<h1>Welcome to Recipe Picker</h1>
<h2>The home for Recipes</h2>

<h2>Here are a few recipes to check out!</h2>
<div>
  <ul>
    <%= @recipes.each do |recipe| %>
      <li> <%= image_tag(@recipe.image) %> </li>
      <li> <%= @recipe.name %> </li>
      <li> By <%= @recipe.user.name %> </li>
      <li> <%= @recipe.description %> </li>
    <% end %>
  </ul>
</div>
