<div class="jumbotron">
  <div class="container">
    <h1>Hambre</h1>
    <p>¿Tienes Hambre? Satisfy your cravings with our mouth-watering recipes.</p>
    <%= form_tag({controller:'ingredients', action: 'search'}, method: :get) do %>
    <%= text_field_tag :search, params[:search], id: 'search_field', placeholder: "Search by Ingredient" %>
    <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<h3 class="center">Recipes</h3>
<div class="container center">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <%= image_tag(recipe.image, class: "img-homepage") %>
      <p class="img-name"><%= link_to(recipe.name, recipe_path(recipe.id)) %></p>
      <p class="img-desc"><%= recipe.desc %></p>
    </div>
  <% end %>
</div>

<!-- Ingredient images -->
<h3 class="center">Ingredients</h3>
<div class="container center">
  <% @ingredients.each do |ingredient| %>
    <div class="col-md-4">
      <%= image_tag(ingredient.image, class: "img-homepage") %>
      <p class="img-name"><%= link_to(ingredient.name, ingredient_path(ingredient.id)) %></p>
    </div>
  <% end %>
</div>


