<h1>Yummaholics</h1>
<h4>Feed Your Food Addiction</h4>
<h3><%= session[:user_id] %></h3>
<div>
<%= link_to "View my Dashboard", user_dashboard_path(session[:user_id]), class: "btn btn-success" %>
</div>

<br>

<%= link_to "Browse All Recipes", recipes_path, class: "btn btn-default" %>
<%= link_to "Browse By Ingredient", ingredients_path, class: "btn btn-default"%>
<%= link_to "Browse By Chef", users_path, class: "btn btn-default"%>
