<div class="container marketing">
  <h1>Welcome to Rabbit Hole!</h1>

  <div class="row">
    <div class="col-lg-12">
      <h3 class="lead">There are plenty of reasons to try one of our deliciously satisfying salad recipes. Most greens are great sources of folate and of vitamin C, which promotes healthy skin and a healthy immune system. Popular salad additions, such as tomatoes, carrots, cabbages and bell peppers, deliver vitamin A (as beta carotene) and lycopene, a phytochemical that may protect against breast and prostate cancers. Enjoy one of these salads recipes.</h3>
    </div>

    <div class="col-lg-4">
      <% recipe = @recipes.find(1)  %>
      <% if recipe.photo_url %>
        <%= image_tag recipe.photo_url, class:"img-circle", size: "300x300" %>
      <% else %>
        <%= image_tag recipe.image_url, class: "img-circle", size: '100x100'%>
      <% end %>
      <h2><%= recipe.name %></h2>
    </div>

    <div class="col-lg-4">
      <% recipe = @recipes.find(2)  %>
      <% if recipe.photo_url %>
        <%= image_tag recipe.photo_url, class:"img-circle", size: "300x300" %>
      <% else %>
        <%= image_tag recipe.image_url, class: "img-circle", size: '100x100'%>
      <% end %>
      <h2><%= recipe.name %></h2>
    </div>

    <div class="col-lg-4">
      <% recipe = @recipes.find(3)  %>
      <% if recipe.photo_url %>
        <%= image_tag recipe.photo_url, class:"img-circle", size: "300x300" %>
      <% else %>
        <%= image_tag recipe.image_url, class: "img-circle", size: '100x100'%>
      <% end %>
      <h2><%= recipe.name %></h2>
    </div>
  </div>
</div>
