<h2>Home</h2>

<p>
  <pre>
    <%= params %>
  </pre>
</p>

<p>
  <%= link_to "Login", login_path, class: "btn btn-primary" %>
</p>

<!-- link to logout -->

<p>
  <%= link_to "Register", register_path, class: "btn btn-primary" %>
</p>

<% if session[:user_id] %>
  <p>
    <%= link_to "Dashboard",  dashboard_user_path(@user), class: "btn btn-primary" %>
  </p>
<% end %>
<br>
<br>

<p>
  <%= form_for "search", method: "get", html: { class: "form" } do |f| %>
    <div class="form-group inline-form">
      <%= f.label :query, "Search Ingredients:" %>
      <%= f.search_field :query, class: "form-control", placeholder: "bacon" %>
    </div>
    <%= f.submit "Search", class: "btn btn-default" %>
  <% end %>
</p>

<% if params[:search] %>
  <h3>Related Recipes</h3>
  <div class="list-group">
    <% @search_results.each do |recipe| %>
    <button type="button" class="list-group-item"><%= link_to recipe.name, recipe_path(recipe) %></button>
    <% end %>
<% end %>

<div class="row">
  <div class="col-lg-6">
    <h3>All Recipes</h3>
    <div class="list-group">
      <% @recipes.each do |recipe| %>
      <button type="button" class="list-group-item"><%= link_to recipe.name, recipe_path(recipe) %></button>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6">
    <h3>All Ingredients</h3>
    <div class="list-group">
      <% @ingredients.each do |ingredient| %>
      <button type="button" class="list-group-item"><%= link_to ingredient.name, ingredient_path(ingredient) %></button>
      <% end %>
    </div>
  </div>
</div>
