<h1>Welcome <%= @user.username %></h1>
<p><%= image_tag(@user.image.full) %></p>

<% unless @recipes.nil? %>
  <% @recipes.each do |recipe| %>
    <%= link_to "#{recipe.name}", recipe_path(recipe.id) %>
    <%= image_tag(recipe.image) %>
    <% if correct_user?(recipe) %>
      <%= link_to "Edit Recipe", edit_user_recipe_path(session[:user_id], recipe.id) %>
    <% end %>

  <% end %>
<% end %>