<div class="row">
  <%# TODO: style further? %>
  <ul>
    <% cookbooks.each do |cookbook| %>
      <li><%= link_to cookbook.name, cookbook_path(cookbook) %>
        <ul>
          <li>Recipes: <%= cookbook.recipes.count %></li>
          <li>Ingredients: <%= cookbook.ingredients.count %></li>
          <% if cookbook.owner?(session[:user_id]) %>
            <li class="list-unstyled">
              <%= link_to "DELETE", cookbook_path(cookbook), { method: :delete, class: "btn btn-danger pull-right" } %>
              <%= link_to "EDIT", edit_cookbook_path(cookbook), class: "btn btn-warning pull-right" %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if authenticated? %>
      <%= link_to "ADD", new_cookbook_path, class: "btn btn-primary" %>
    <% end %>
  </ul>
</div>
