<% content_for :page_title do %>
  <h2>Your Cookbooks</h2>
<% end %>

<%= link_to "ADD COOKBOOK", new_cookbook_path, class: "btn btn-primary center-block" %>

<% if @cookbooks.nil? %>
  <p>You have no cookbooks. :(</p>
<% else %>
  <div class="row">
    <%# TODO: style further? %>
    <ul>
      <% @cookbooks.each do |cookbook| %>
        <li><%= link_to cookbook.name, cookbook_path(cookbook) %>
          <ul>
            <li>Recipes: <%= cookbook.recipes.count %></li>
            <li>Ingredients: <%= cookbook.ingredients.count %></li>
            <li class="list-unstyled">
              <%= link_to "DELETE", cookbook_path(cookbook), { method: :delete, class: "btn btn-danger pull-right" } %>
              <%= link_to "EDIT", edit_cookbook_path(cookbook), class: "btn btn-warning pull-right" %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

