<h1> <%= @cookbook.name.upcase %>
<%= link_to "Edit", edit_user_cookbook_path(@user, @cookbook), class: "btn btn-info" %>
<%= link_to "Delete", user_cookbook_path(@user, @cookbook), method: "delete", class: "btn btn-warning", data: { confirm: "Are you sure you want to delete?" } %>
</h1>

<h4><%= @cookbook.description %></h4>

<h3>Recipes</h3>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
    <li class="list-group-item">
      <%= link_to recipe.name, recipe_path(recipe) %>
      <%= link_to "Remove recipe", user_cookbook_recipe_path(session[:user_id], @cookbook, recipe), method: "delete", class: "btn btn-warning btn-xs", data: { confirm: "Are you sure you want to delete?" } %>
    </li>
  <% end %>
</ul>
