<div class="container">
  <h2><%= @cookbook.name %></h2> <%= link_to "Edit Cookbook", edit_cookbook_path(@cookbook.id), class:"btn btn-primary" %>
  <h2><small><%= @cookbook.description %></small></h2>
  <p><%= @cookbook.recipes.count %> Recipes</p>


  <h3>Recipes</h3>
  <div class="row">
    <% @cookbook.recipes.alphabet.each do |recipe| %>
    <div class="col-md-12">
      <%= image_tag(recipe.image_url(:medium))%>
      <%= link_to "#{recipe.name}", recipe_path(recipe.id) %>
      <%= link_to "Remove from cookbook", remove_recipe_path(recipe.id), class:"btn btn-danger" %>
    </div>
    <% end %>
  </div>
</div>
