<div class="container marketing">
  <h1><%= @cookbook.name %>!</h1>
  <% if @user.id == @current_user.id %>
    <%= link_to "Add New Recipe", new_recipe_path, class: "btn btn-default"  %></p>
  <% end %>
  <hr class="featurette-divider">

  <h3><mark>Recipes: </mark></h3><br>

  <div class="row">
    <% @cookbook.recipes.each do |recipe| %>
      <div class="col-md-4">

        <% if recipe.photo_url %>
          <%= image_tag recipe.photo_url, class:"img-circle", size: "250x250" %>
        <% elsif recipe.image_url %>
          <%= image_tag recipe.image_url, class:"img-circle", size: "250x250"  %>
        <% else %>
          <%= image_tag "no_image.png", class:"img-circle", size: "300x300" %>
        <% end %>

        <h2><%= recipe.name %></h2>
        <p><%= recipe.description %></p>
        <p><%= link_to "View details", recipe_path(recipe.id), class: "btn btn-default" %>

        <% if params[:id].to_i == @current_user.id %>
          <%= link_to "Remove Recipe from Cookbook", remove_cookbook_path(recipe), method: :remove_cookbook, class: "btn btn-warning", data: { confirm: "Are you sure you want to remove this recipe from your cookbook?"} %>
        </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
