<% if session[:user_id] %>
  <div class="text-right">
    <%= link_to edit_user_cookbook_path(session[:user_id], @cookbook.id), class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" title="Edit Me!"></span>
    <% end %>
    <%= link_to user_cookbook_path(session[:user_id], @cookbook.id), method: :delete, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" title="Delete Cookbook!"></span>
    <% end %>
  </div>
<% end %>

<h1><%= @cookbook.name %></h1>
<p><%= @cookbook.description %></p>

<h5>Recipes: <span class="badge"><%= @recipe_count %></span></h5>

<% @recipes.each do |recipe| %>
  <div class="media list-group">
    <div class="media-left col-sm-1">
      <a href="#">
        <%= image_tag recipe.image_url(:thumb), alt: "#{recipe.name}", class: "media-object" %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to recipe.name, recipe_path(recipe.id) %>
      </h4>
      <p><%= recipe.description %></p>
      <p>Chef: <%= link_to recipe.user.username, user_path(recipe.user_id) %></p>
    </div>
      <div class="media-right">
        <% if session[:user_id] == recipe.user_id %>
          <%= link_to edit_recipe_path(recipe.id), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"
            data-toggle="tooltip" title="Edit Me!"></span>
          <% end %>
          <%= link_to recipe_path(recipe.id), method: :delete, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"
            data-toggle="tooltip" title="Delete Recipe!"></span>
          <% end %>
        <% end %>
        <%= link_to unassociate_recipe_path(recipe.id, @cookbook.id), method: :patch, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"
          data-toggle="tooltip" title="Remove Recipe from Cookbook!"></span>
        <% end %>
      </div>
    <hr>
  </div>
<% end %>
