<h2><%= @cookbook.name %></h2>

<h3>Description</h3>
<p>
  <%= @cookbook.description %>
</p>

<h3>Owner</h3>
<p>
  <%= @owner %>
</p>

<h3>Recipes</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.name, recipe_path(recipe) %></td>
      <td><%= link_to "X", destroy_recipe_assoc_path(user_id: params[:user_id], cookbook_id: @cookbook, recipe_id: recipe), method: :delete, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
