<!DOCTYPE html>
<html>
<head>
  <title>RabbitHoleSalads</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <%= render "shared/nav" %>

    <div class="container marketing">
      <% if flash[:error] %>
        <h3><span class="label label-warning"><%= flash[:error] %></span></h3>
      <% end %>
    </div>

    <%= yield %>
    <hr class="featurette-divider">

    <%= render "shared/footer" %>
  </div>
</html>
