<!DOCTYPE html>
<html>
<head>
  <title>Yummaholic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container-fluid">
  <header>
    <% if session[:user_id] %>
      <%= link_to "Sign Out", logout_path, method: :delete, class: "btn btn-default" %>
    <% else %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-default" %>
      <%= link_to "Login", login_path, class: "btn btn-default" %>
    <% end %>
  </header>
  <body>
  <%= yield %>
  </body>
</div>
</html>
