<!DOCTYPE html>
<html>
  <head>
    <title>Eat Me!</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="jumbotron">
      <div class="container">
        <h1 class="top" align="center"><span>Eat Me!</span></h1>
        <p align="center">
          <span>
            <%= random_profession_name %> prefer more <%= random_ingredient_name %>
            in their <%= random_recipe_name %> than any other ingredient!
          </span>
        </p>

        <!-- navbar -->
        <%= render "layouts/navbar" %>
    </header>

    <main class="container">
      <% if flash[:error] %>
        <p class="alert alert-danger"><%= flash[:error] %></p>
      <% end %>

      <% if flash[:success] %>
        <p class="alert alert-success"><%= flash[:success] %></p>
      <% end %>

      <div class="row">
        <div class="col-md-2">
        	<ul class="nav nav-stacked">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Recipes", recipes_path %></li>
            <li><%= link_to "Ingredients", ingredients_path %></li>
            <% if @authenticated_user %>
              <li><%= link_to "Cookbooks", user_cookbooks_path(@authenticated_user) %></li>
            <% end %>
        	</ul>
        </div>

        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </main>

    <footer>
      <nav class="navbar navbar-default">
        <div class="container">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Jump back to the top", "#top" %></li>
          </ul>
        </div>
      </nav>
    </footer>
  </body>
</html>
