<!DOCTYPE html>
<html>
<head>
  <title>Eat Me!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header class="jumbotron">
      <h1 class="top">Eat Me!</h1>
      <p>
        <%= random_profession_name %> prefer more <%= random_ingredient_name %>
        in their <%= random_recipe_name %> than any other ingredient!
      </p>
      <%= link_to "Home", root_path, class: "btn btn-default" %>
      <%= link_to "Recipes", recipes_path, class: "btn btn-default" %>
      <%= link_to "Ingredients", ingredients_path, class: "btn btn-default" %>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer>
      <nav class="navbar navbar-default">
        <%= link_to "Top", "#top", class: "btn btn-default" %>
        <%= link_to "Home", root_path, class: "btn btn-default" %>
        <%= link_to "Recipes", recipes_path, class: "btn btn-default", class: "btn btn-default" %>
        <%= link_to "Ingredients", ingredients_path, class: "btn btn-default" %>
      </nav>
    </footer>
  </div>
</body>
</html>
